@font-face {
  font-family: norwester;
  src:
  url(../fonts/norwester.ttf),
  url(../fonts/norwester.otf) format("opentype")
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.mt-5{
  margin-top: 10px;
}
.mt-10{
  margin-top: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mt-15{
  margin-top: 15px;
}
.mt-20{
  margin-top: 20px;
}

.fl {
  float:left;
}

.fr {
  float:right;
}

.ta-c {
  text-align: center;
}

.va-m {
  vertical-align: middle;
}

.w100p{
  width: 100%;
}

.font-norwester{
  font-family: norwester;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}

.fb {
  font-weight: bold;
}

.ml-5 {
  margin-left: 5px !important;
}
.space-between {
  justify-content: space-between;
}
.c-light {
  color: rgba(255, 255, 255, 0.6)
}


.btn-primary,btn-primary:hover {
  color: #fff;
  background-color: #31B0FF;
  box-shadow: 0 -2px 2px 0 rgba(39,52,125,0.10);
  border-radius: 6px;
  border: 0;
}
.btn-primary:active {
  color: #fff;
  background-color: #31B0FF;
}
.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #b7b7b8;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #31B0FF;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 -2px 2px 0 rgba(39,52,125,0.10);
}
.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 -2px 2px 0 rgba(39,52,125,0.10);
}
.alert{
  position: fixed;
  top: 5%;
  left: 5%;
  width: 90%;
}

.form-control  {
  color: white;
  background-color: #181F3A;
  border: 1px solid #181F3A;
  &:active,&:focus {
    color: #39AFFF;
    background-color: #181F3A;
    border: 1px solid #39AFFF;
  }
}
.input-group-text {
  background-color: #181F3A;
  border: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: white;
  font-size: 12px;
}